.table-container {
    height: 100vh;
    width: 80vw;

    overflow: hidden !important;
}


.badge {
    background: lightgreen;

    border: 1px solid black;
    // border-radius: 20%;

    padding: 2px;
    margin: 2px;
}


.content-table {
    align-items: center;

    display: flex;
    justify-content: center;
}

.table-data {
    display: flex;
    justify-content: center;
    align-items: center;
}